{% extends "homeAdmin.html.twig" %}

{% block content %}
<div class="container text-center">
    <h1>Ajouter un article : {{ type }}</h1><hr/>
    {{ result }}
{{ form.render|raw }}
</div>
{% endblock %}