{% extends "homeAdmin.html.twig" %}

{% block content %}
    {{ form.prepare() }}


    <form name="formAddContent" method="post">
        {#<?php echo $form->get('title')->getValue(); ?>#}
        <input type="text" name="title" value="{{ form.get('title').getValue() }}"/>
        {% for name, message in form.getMessages() %}
            {% if  'title' == name %}
                {{ message }}
            {% endif %}
            {#foreach($form->getMessages() as $name => $message) {#}
            {#if ('title' == $name) {#}
            {#var_dump($message);#}
            {#}#}
            {#}#}
        {% endfor %}

        <input type="hidden" name="csrf" value="<?php echo $form->get('csrf')->getValue(); ?>"/>
        <input type="submit" name="Ajouter" value="Ajouter"/>
    </form>


    <!--<form action='../src/controller/affichage.php' method="POST">-->
    <!--    <textarea class="input-block-level" id="summernote" name="content"></textarea>-->
    <!--    <input type="submit" id="create" class="btn btn-default" name="submit" value="Créer">-->
    <!--</form>-->
{% endblock %}