<!DOCTYPE html>

<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Clara Mocquot | Admin</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="icon" type="image/png" href="../img/logos/favicon.png" />

        <link href="https://fonts.googleapis.com/css?family=Overpass|PT+Sans|PT+Sans+Caption|PT+Serif|Roboto+Condensed"
              rel="stylesheet"/>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="../css/AdminLTE.min.css">
        <link rel="stylesheet" href="../css/skins/skin-black.min.css">
        <link rel="stylesheet" href="../css/summernote.css">
        <link rel="stylesheet" href="../css/admin.css">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/jquery.min.js"></script>
    {% endblock %}
</head>

<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="index.php?route=home" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><strong>CM</strong></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><strong>Clara Mocquot</strong></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-comment-o"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">


            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <!-- Optionally, you can add icons to the links -->
                <li><a href="index.php?route=chapeaux"><i class="fa fa-graduation-cap"></i> <span>Chapeaux</span></a>
                </li>

                <li class="treeview">
                    <a href="#"><i class="fa fa-indent"></i> <span>Articles</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="index.php?route=articles&type=evenement">Evenement</a></li>
                        <li><a href="index.php?route=articles&type=blog">Blog</a></li>
                        <li><a href="index.php?route=articles&type=marraine">Marraines</a></li>
                        <li><a href="index.php?route=articles&type=partenaire">Partenaires</a></li>
                        <li><a href="index.php?route=articles&type=prestation">Prestations Pro.</a></li>
                        <li><a href="index.php?route=articles&type=portrait">Portrait</a></li>
                    </ul>
                </li>
                <!-- Optionally, you can add icons to the links -->
                <li><a href="index.php?route=images"><i class="fa fa-file-image-o"></i> <span>Image d'accueil</span></a>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div id="content">{% block content %}{% endblock %}</div>

    </div>
    <!-- /.content-wrapper -->
    {% block footer %}
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
<br/>
        <!-- Default to the left -->
        <strong><a href="http://www.wildcodeschool.fr">Wild code school 2017 </a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">

            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-comment-o"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">

            <!-- Settings tab content -->
            <div class="tab-pane active" id="control-sidebar-settings-tab">
                <form method="post" class="text-center">
                    <h3 class="control-sidebar-heading">Reporter un bug</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Votre mail
                        </label>
                        <input type="email" class="pull-right" value="E-m@il">
                        <label class="control-sidebar-subheading">
                            Votre message
                        </label>
                        <input type="text" class="pull-right" value="Message">
                    </div>
                    <br/><br/>
                    <input class="btn btn-default text-center" type="submit">
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>

</div>
<!-- ./wrapper -->


<script src="../js/bootstrap.min.js"></script>
<script src="../js/app.min.js"></script>
<script src="../js/jquery.slimscroll.min.js"></script>
<script src="../js/fastclick.min.js"></script>
<script src="../js/summernote.min.js"></script>
<script src="../js/admin.js"></script>
<script src="../lang/summernote-fr-FR.js"></script>


</body>
</html>
{% endblock %}