{% extends "homeAdmin.html.twig" %}

{% block content %}
    <div class="container text-center">
        <h1>Modifier un article : {{ type }}</h1><hr/>
        {{ form.render|raw }}
    </div>
{% endblock %}