

.deroulement{
    position: absolute;
    z-index: 100;
}


@font-face{ 
    font-family: 'PTSans';
    src: url('fonts/PTS55F-webfont.woff') format('woff');
}

/* header complet */
.header {
    font-family: 'PTSans';
    background-color: black;
    position: relative;
    height: 150px;
}
/* fin header */

/* logo */
a {
    text-decoration: none;
    color: white;
}

a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: white;
}

.marque {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 3em;
    text-align: center;
    top: 35px;
    border: solid white 2px;
    padding-bottom:  3px;
}

.marque2 {
    display: none;
}
/* fin logo */

/* menu burger */
button {
    height: 67px;
    width: 67px;    
    position: relative;
    top: 35px;
    background-color: black;
}

.burger {
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.menuburger {
    display: none;
    font-size: 1.4em;
    position: relative;
    top: 45px;
    width:130px;
    height:30px;
    border: solid black 1px;
    background-color: white;
    text-align: center;
    padding: 2px, 4px, 2px, 4px;
}
/* fin menu burger */


/*/// MEDIA QUERY ///*/
@media screen and (max-width: 992px) {
    
    /* logo */
.marque {
        display: none;
    }

.marque2 {
    display: inline;
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 3em;
    text-align: center;
    top: 35px;
    border: solid white 2px;
    padding: 5px;
    }
    /* fin logo */

    /* menu burger */
    button {
        right: 30px;
    }

.menuburger {
    right: 120px;
    height: 45px;
    width: 150px;
    padding-top: 5px;
    }
    /* fin menu burger */
}



/* Page entreprise*/

.banner {
    background-size: 100% auto;
    background: cover;
    background-image: url("image/entreprise/entreprise - copie.jpg");
    background-repeat: no-repeat;
    height: 250px;
    margin: 50px;
    color: white;
    position: relative;
}

.banner p {
    color: white;
    font-size: 55px;
    position: absolute;
    bottom: 25px;
    right: 50px;
}

.presentationentreprise {
    margin-bottom: 150px;
}

.container ul {
    list-style: none;
    line-height: 40px;
    padding-top: 70px;
}

.textentreprise {
    padding-top: 80px;
}

.imgportrait {
    padding-top: 20px;
}

figcaption {
    text-align: center;
}
/*fin de la page entreprise*/


/*Footer*/

footer {

    text-align: center;
    border-top: solid 2px black;
    height: 80px;
}

footer img {
    width: 35px;
    padding-top: 20px;
}

.contact {
    padding-top: 25px;
}

/*Fin du footer*/