
@font-face{ 
    font-family: 'PTSans';
    src: url('fonts/PTS55F-webfont.woff') format('woff');
}
body {
    font-family: 'PTSans';
}


/* header complet */
.header {
    font-family: 'PTSans';
    background-color: black;
    position: relative;
    height: 90px;
}
/* fin header */

/* logo */
a {
    text-decoration: none;
    color: white;
}

a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: white;
}

.marque {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 2em;
    text-align: center;
    top: 20px;
    border: solid white 2px;
    padding-bottom:  2px;
}

.marque2 {
    display: none;
}
/* fin logo */

/* menu burger */
button {
    height: 46px;
    width: 46px;
    position: relative;
    top: 20px;
    background-color: black;
}

.burger {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 6px 0;

}

.deroulement{
    position: absolute;
    z-index: 100;
}
.menuburger {
    display: none;
    font-size: 1.4em;
    position: relative;
    top: 30px;
    width:130px;
    height:30px;
    border: solid black 1px;
    background-color: white;
    text-align: center;
    padding: 2px 4px 2px 4px;
}
/* fin menu burger */


/*/// MEDIA QUERY HEADER ///*/
@media screen and (max-width: 992px) {

    /* logo */
    .marque {
        display: none;
    }

    .marque2 {
        display: inline;
        color: white;
        text-decoration: none;
        position: relative;
        font-size: 3em;
        text-align: center;
        top: 35px;
        border: solid white 2px;
        padding: 5px;
    }

    /* fin logo */

    /* menu burger */
    button {
        right: 30px;
    }

    .menuburger {
        right: 120px;
        height: 45px;
        width: 150px;
        padding-top: 5px;
    }
}
    /* fin menu burger */

/*/// FIN MEDIA QUERY HEADER ///*/

/* page articles */

.petit {

    text-align: right;
}

.grand {
    border-left: solid black 1px;
}
/* fin page aricles */