/*
Table of Content
==================================================
  1. ACCUEIL
  2. NAVIGATION
  3. NOUVEAUTÉS
  4. ACTUALITÉS
==================================================
*/

.marque:hover, .marque:active, .marque:focus, .marque:visited {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.title {
    color: black;
    padding-top: 25px;
}

/*---------------------------------------
   SECTION ACCUEIL
-----------------------------------------*/

.landingPageAccueil {
    background: url(../img/article4.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.landingPageAccueil .section_overlay {
    background-color: rgba(255, 255, 255, 0.33);
}

.titreCadre1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 100px;
    border: 7px solid black;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}

.titreCadre2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    border: 2px solid black;
    padding: 5px 8px;
    text-decoration: none;
    color: black;
}

.home-container {
    
    text-align: center;
}
/*---------------------------------------
   SECTION NAVIGATION (MOSAIQUE)
-----------------------------------------*/

.landingPageNavigation .section_overlay {
    background-color: rgba(0, 0, 0, 0.33);
}

.thumbnail {
    display: block;
    vertical-align: middle;
    border: 3px solid black;
    border-radius: 0;
}

/*---------------------------------------
   SECTION ACTUALITÉS
-----------------------------------------*/

.landingPageActualites .section_overlay {
    background-color: rgba(0, 0, 0, 0.33);
}

.container-fluid {
    padding: 0;
}

.deroulement{
    position: absolute;
    z-index: 100;
}


@font-face{ 
    font-family: 'PTSans';
    src: url('../fonts/PTS55F-webfont.woff') format('woff');
}


/* header complet */
.header {
    font-family: 'PTSans';
    background-color: black;
    height: 90px;
    position: fixed;
    margin: 0;
    width: 100%;
    z-index: 51;

}
/* fin header */

/* logo */
a {
    text-decoration: none;
    color: white;
}

a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: white;
}

.marque {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 2em;
    text-align: center;
    top: 20px;
    border: solid white 2px;
    padding-bottom:  2px;
}

.marque2 {
    display: none;
}
/* fin logo */

/* menu burger */
.boutonBurger {
    height: 46px;
    width: 46px;
    position: relative;
    top: 20px;
    background-color: black;
    border: 2px solid white;
}

.burger {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px 0;

}

.deroulement{
    position: absolute;
    z-index: 100;
}
.menuburger {
    display: none;
    font-size: 1.4em;
    position: relative;
    top: 50px;
    right: 30px;
    width:160px;
    height:30px;
    border: solid black 1px;
    background-color: white;
    text-align: center;
    padding: 2px 4px 2px 4px;
}

.navGenerale, .navGenerale:hover, .navGenerale:active, .navGenerale:focus, .navGenerale:visited {
    color: black;
    text-decoration: none;
}

/* fin menu burger */

/* manifeste */
.wrapper {
    background-color: rgba(0,0,0,0);
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/manifeste/manifeste.jpg");
    background-size: cover;
    margin-top: 90px;

}

.content {
    margin-top: 150px;
    padding: 50px;
    background-color: rgba(255,255,255,0.6);
    border: 3px solid black;
    margin-bottom: 60px;

}

.titreManifeste {
    text-transform: uppercase;
    font-family: 'PTSans';
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

/*/// MEDIA QUERY HEADER ///*/
@media screen and (max-width: 992px) {

    /* logo */
    .marque {
        display: none;
    }

    .marque2 {
        display: inline;
        color: white;
        text-decoration: none;
        position: relative;
        font-size: 3em;
        text-align: center;
        top: 35px;
        border: solid white 2px;
        padding: 5px;
    }

    /* fin logo */

    /* menu burger */
    button {
        right: 30px;
    }

    .menuburger {
        right: 120px;
        height: 45px;
        width: 150px;
        padding-top: 5px;
    }
}
    /* fin menu burger */

/*/// FIN MEDIA QUERY HEADER ///*/

/* page articles */

.petit {

    text-align: right;
}

.grand {
    border-left: solid black 1px;
}
/* fin page aricles */





/* Page entreprise*/

.banner {
    background-size: cover;
    background-image: url("../img/entreprise/entreprise - copie.jpg");
    background-repeat: no-repeat;
    height: 250px;
    /*margin: 50px;*/
    margin-top: 90px;
    color: white;
    position: relative;
}

.banner p {
    color: white;
    font-size: 55px;
    position: absolute;
    bottom: 25px;
    right: 50px;
}

.presentationentreprise {
    margin-bottom: 150px;
}

.container ul {
    list-style: none;
    line-height: 40px;
    padding-top: 70px;
}

.textentreprise {
    padding-top: 80px;
}

.imgportrait {
    padding-top: 20px;
}

figcaption {
    text-align: center;
}
/*fin de la page entreprise*/


/*Footer*/

footer {

    text-align: center;
    border-top: solid 2px black;
    height: 80px;
}

footer img {
    width: 35px;
    padding-top: 20px;
}

.contact {
    padding-top: 25px;
}

/*Fin du footer*/

