.container-fluid {
    padding: 0;
}

.deroulement{
    position: absolute;
    z-index: 100;
}


@font-face{ 
    font-family: 'PTSans';
    src: url('fonts/PTS55F-webfont.woff') format('woff');
}
body {
    font-family: 'PTSans';
}


/* header complet */
.header {
    font-family: 'PTSans';
    background-color: black;
    height: 90px;
    position: fixed;
    margin: 0;
    width: 100%;
    z-index: 51;

}
/* fin header */

/* logo */
a {
    text-decoration: none;
    color: white;
}

a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: white;
}

.marque {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 2em;
    text-align: center;
    top: 20px;
    border: solid white 2px;
    padding-bottom:  2px;
}

.marque2 {
    display: none;
}
/* fin logo */

/* menu burger */
button {
    height: 46px;
    width: 46px;
    position: relative;
    top: 20px;
    background-color: black;
}

.burger {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 6px 0;

}

.deroulement{
    position: absolute;
    z-index: 100;
}
.menuburger {
    display: none;
    font-size: 1.4em;
    position: relative;
    top: 30px;
    width:130px;
    height:30px;
    border: solid black 1px;
    background-color: white;
    text-align: center;
    padding: 2px 4px 2px 4px;
}
/* fin menu burger */

/* manifeste */
.wrapper {
    background-color: rgba(0,0,0,0);
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("image/manifeste/manifeste.jpg");
    background-size: cover;
    margin-top: 100px;

}

.content {
    margin-top: 150px;
    padding: 50px;
    background-color: rgba(255,255,255,0.6);
    border: 3px solid black;
    margin-bottom: 60px;

}

.titreManifeste {
    text-transform: uppercase;
    font-family: 'PTSans';
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

/*/// MEDIA QUERY HEADER ///*/
@media screen and (max-width: 992px) {

    /* logo */
    .marque {
        display: none;
    }

    .marque2 {
        display: inline;
        color: white;
        text-decoration: none;
        position: relative;
        font-size: 3em;
        text-align: center;
        top: 35px;
        border: solid white 2px;
        padding: 5px;
    }

    /* fin logo */

    /* menu burger */
    button {
        right: 30px;
    }

    .menuburger {
        right: 120px;
        height: 45px;
        width: 150px;
        padding-top: 5px;
    }
}
    /* fin menu burger */

/*/// FIN MEDIA QUERY HEADER ///*/

/* page articles */

.petit {

    text-align: right;
}

.grand {
    border-left: solid black 1px;
}
/* fin page aricles */





/* Page entreprise*/

.banner {
    background-size: 100% auto;
    background: cover;
    background-image: url("image/entreprise/entreprise - copie.jpg");
    background-repeat: no-repeat;
    height: 250px;
    margin: 50px;
    color: white;
    position: relative;
}

.banner p {
    color: white;
    font-size: 55px;
    position: absolute;
    bottom: 25px;
    right: 50px;
}

.presentationentreprise {
    margin-bottom: 150px;
}

.container ul {
    list-style: none;
    line-height: 40px;
    padding-top: 70px;
}

.textentreprise {
    padding-top: 80px;
}

.imgportrait {
    padding-top: 20px;
}

figcaption {
    text-align: center;
}
/*fin de la page entreprise*/


/*Footer*/

footer {

    text-align: center;
    border-top: solid 2px black;
    height: 80px;
}

footer img {
    width: 35px;
    padding-top: 20px;
}

.contact {
    padding-top: 25px;
}

/*Fin du footer*/

