/*
Table of Content
==================================================
  1. ACCUEIL
  2. NAVIGATION
  3. NOUVEAUTÉS
  4. ACTUALITÉS
==================================================
*/


@font-face{
    font-family: 'PTSans';
    src: url('../fonts/PTS55F-webfont.woff') format('woff');
}

.container-fluid, .row{
    margin: 0;
}

.marque:hover, .marque:active, .marque:focus, .marque:visited {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'PT Sans', sans-serif;
    position: relative;
}

.titreGeneral, .titreGeneral:hover, .titreGeneral:active, .titreGeneral:focus, .titreGeneral:visited{
    color: black;
    padding: 10px;
}
.title {
    color: black;
    padding-top: 25px;
}



/*---------------------------------------
   SECTION ACCUEIL
-----------------------------------------*/

.landingPageAccueil {
    background: url(../img/article4.1.jpg);
    height: 925px;
    background-size: cover;
    background-repeat: no-repeat;
}

.landingPageAccueil .section_overlay {
    background-color: rgba(255, 255, 255, 0.6);
    height: 940px;
}

.titreCadre1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 100px;
    border: 7px solid black;
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

.titreCadre2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    border: 2px solid black;
    padding: 5px 8px;
    text-decoration: none;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}
.trait {
    border: 1px solid black;
    width: 50%;
}

.home-container {
    margin-top: 200px;
    text-align: center;
    padding: 80px 0 80px 0;
    background-color: rgba(255,255,255,0.8);
}
/*---------------------------------------
   SECTION NAVIGATION (MOSAIQUE)
-----------------------------------------*/

.landingPageNavigation .section_overlay {
    background-color: rgba(0, 0, 0, 0.0);
}

.navHome {
    padding-top: 50px;
}

.thumbnail {
    display: block;
    border-radius: 0;
    padding: 0px;
    border: none;
    max-width: 100%;
    height: auto;
    margin: 0px;
}

.thumbnailHome {
    display: block;
    vertical-align: middle;
    border-radius: 0;
    border: 1px solid black;
    position:relative;
    overflow:hidden;
    max-width: 100%;
    height: auto;
    margin: 0;
}

.borderPlus {
    border: 1px solid black;
    margin-top: 70px;
    margin-bottom: 50px;
}

.stopPadding {
    padding: 0;
}

.captionHome {
    color: white;
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.33);
    width:100%;
    height:100%;
    padding-top:35%;
    display: none;
    text-align:center;
    z-index:2;
}

.landingPageNouveautes .section_overlay {
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.33);
}
/*---------------------------------------
   SECTION ACTUALITÉS
-----------------------------------------*/

.landingPageActualites .section_overlay {

    height: 500px;
}

.container-fluid {
    padding: 0;
}

.deroulement{
    position: absolute;
    z-index: 100;
}


/*------------------------------------
    HEADER
 -------------------------------------*/
/* header complet */
.header {
    font-family: 'PTSans';
    background-color: white;
    height: 90px;
    position: fixed;
    margin: 0;
    width: 100%;
    z-index: 51;
    border-bottom: black 2px solid;
}
/* fin header */

/* logo */

a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: black;
}

.marque {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 2em;
    text-align: center;
    top: 20px;
    border: solid black 2px;
    padding: 7px 30px;
    text-transform: uppercase;
}

.marque2 {
    display: none;
}

.logoHome {
    position: fixed;
    top: 30px;
    left: 20px;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}

/* fin logo */

/* menu burger */
.burger {
    position: relative;
    background-image: url("../img/boutonBurger.jpg");
    height: 53px;
    width: 53px;
    top: 12px;
    border: solid black 2.5px;
    border-radius: 0;
}

.burger:hover, .burger:active, .burger:focus, .burger:visited {
    border: solid black 2.5px;

}

.deroulement{
    position: absolute;
    z-index: 100;
}
.menuburger {
    display: none;
    font-size: 20px;
    position: relative;
    top: 60px;
    right: 80px;
    width:200px;
    height:40px;
    border:2px solid black;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    padding: 2px 4px 2px 4px;
}

.navGenerale, .navGenerale:hover, .navGenerale:active, .navGenerale:focus, .navGenerale:visited {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* fin menu burger */

/* manifeste */

.bannerManifest {
    background-size: cover;
    background-image: url("../img/manifeste/manifeste.jpg");
    background-repeat: no-repeat;
    height: 250px;
    margin-top: 90px;
}

.contentManifest {
    margin-top: 80px;
    padding: 50px;
    background-color: rgba(255,255,255,0.6);
    border: 2px solid black;
    margin-bottom: 60px;

}

.titreManifeste {
    text-transform: uppercase;
    font-family: 'PTSans';
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

/*/// MEDIA QUERY HEADER ///*/
@media screen and (max-width: 992px) {

    /* logo */
    .marque {
        display: none;
    }

    .marque2 {
        display: inline;
        color: white;
        text-decoration: none;
        position: relative;
        font-size: 2em;
        text-align: center;
        top: 20px;
        border: solid black 2px;
        padding: 5px;
    }

    /* fin logo */

    /* menu burger */
    button {
        right: 30px;
    }

    .menuburger {
        right: 120px;
        height: 45px;
        width: 150px;
        padding-top: 5px;
        font-size: 17px;
    }
}
    /* fin menu burger */

/*/// FIN MEDIA QUERY HEADER ///*/

/* page articles */
.presentationArticles {
    margin-top: 160px;
    margin-bottom: 50px;
}

.pad_articles {
    padding: 0px;
    height: 545px;
}

.petit {

    text-align: right;
}

.grand {
    border-left: solid black 1px;
}

.titre {
    font-size: 1.6em;
}

.date {
    font-style: italic;
    font-size: 1.15em;
}


/* fin page articles */

/*    page collections  */

.page_collec {
    margin-top: 100px;
    margin-bottom: 50px;
}

.titre_photo {
    text-align: center;
    font-family: 'PTSans', sans-serif;
}

.titreCollections {
    margin-bottom: 30px;
}

.marginCollections {
    margin-bottom: 25px;
}

.gris {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    }

.ajustMargin {
    padding-top: 30px;
    padding-bottom: 50px;
}

.wrapperCollections {
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.33);
}
/*  fin collections */

/* Page entreprise*/

.banner {
    background-size: cover;
    background-image: url("../img/entreprise/entreprise - copie.jpg");
    background-repeat: no-repeat;
    height: 250px;
    /*margin: 50px;*/
    margin-top: 90px;
    color: white;
    position: relative;
}

.banner p {
    color: white;
    font-size: 55px;
    position: absolute;
    bottom: 25px;
    right: 50px;
}

.presentationentreprise {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 20px;
    border: 2px solid black;
}

.container ul {
    list-style: none;
    line-height: 40px;
    padding-top: 40px;
}

.textentreprise {
    margin-top: 30px;
    margin-bottom: 30px;
}

.imgportrait {
    padding-top: 45px;
}

figcaption {
    text-align: center;
}
/*fin de la page entreprise*/


/*Footer*/

footer {

    text-align: center;
    border-top: solid 2px black;
    height: 80px;
}

footer img {
    width: 35px;
    padding-top: 20px;
}

.contact {
    padding-top: 20px;
}

.contact button{
    background-color: white;
    color: black;
    border: 1px solid black;
}

Cont{
    font-size: 20px;
}

/*Fin du footer*/

a {
    text-decoration: none;
    color: black;
}
.borderBlack {
    border: 2px solid black;
    margin: 15px;
}

.carousel-indicators {
    bottom: -30px;
}