{% extends "base.html.twig" %}
{% block title %}L'entreprise{% endblock %}

{% block content %}
    <div class="banner"><p><i>"Soyons inspirés."</i></p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                <h1 class="text-center titreCadre2"><span class="borderBlack">L'entreprise</span></h1>
                <div class="row">
                    <div class="col-md-4 col-xs-12 text-left textentreprise">
                        <p>Nous faisons des chapeaux et des coiffes,
                            sur-mesure et à la demande.</p><br/>
                            <p>Nous concevons nous-même nos modèles, et
                                les confectionnons dans notre Atelier, à Lyon.</p><br/>
                            <p>clara.mocquot@gmail.com</p><br/>
                            <p>Atelier de design, confection et show-room :<br/>
                            125 route de vienne à LYON<br/>
                            on vous reçoit sur rendez-vous<br/>
                                06 52 85 43 67</p><br/>
                            <p>Suivez-nous - et partagez-nous! - sur
                            Facebook, Instragram, et Pinterest</p><br/>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <figure>
                            <img src="img/pageEntreprise/entreprisePortrait1.jpg" class="img-responsive borderBlackNav imgEntreprise"
                                 alt="Portrait Clara Mocquot - Chapeaux">
                            <figcaption>Clara Mocquot - Fondatrice</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-xs-12 text-left textentreprise">
                        <p>
                            A l’Atelier - ou sur internet - vous
                            choisissez un modèle.<br/>
                            Puis nous le re-confectionnons à vos
                            mesures et selon les finitions que vous
                                avez choisi.<br/>
                            Nous sommes là pour vous guider -
                            contactez-nous sans hésiter.</p><br/>
                            <p>Les délais de confection sont de 2 à 3
                                semaines.</p><br/>
                            <p>Si vous êtes un professionnel et que
                            vous voulez connaitre nos prestations,
                            contactez-nous, ou découvrez ceux qui
                                nous font déjà confiance.</p><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}