{% extends "base.html.twig" %}
{% block title %}Manifeste{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="bannerManifest"></div>
            <div class="col-xs-10 col-xs-offset-1 contentManifest">
                <h1 class="titreManifeste">Vive les audacieux</h1>
                <p>Page en cours d'édition</p>
            </div>
            <div class="bannerManifest2"></div>
        </div>
    </div>
{% endblock %}