{% extends "base.html.twig" %}
{% block title %}Manifeste{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="bannerManifest"></div>
            <div class="col-xs-10 col-xs-offset-1 contentManifest">
                <h1 class="titreManifeste">Vive les audacieux</h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores assumenda consequatur
                    corporis culpa cum dolore incidunt labore, laborum molestiae nemo nesciunt, nostrum officia officiis
                    quos sit velit veniam veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur, cumque deserunt dolor eius eligendi excepturi illum maiores molestiae, nemo odit,
                    provident rerum sunt totam. Ab architecto culpa illum ipsum saepe! Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Ab, aliquam architecto cumque cupiditate distinctio ea excepturi,
                    labore officia possimus praesentium qui quisquam suscipit tempore totam unde, vel vero voluptas
                    voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut autem,
                    consectetur distinctio ex expedita ipsa iste molestiae nemo quas ratione reiciendis sunt vel.<br/>
                    Commodi earum facilis molestias odio ut! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cupiditate dicta dignissimos distinctio eius esse et expedita harum, illum natus nemo rem
                    reprehenderit similique sit tenetur vitae! Eveniet, magnam molestiae. Adipisci! Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Ad assumenda iusto libero totam vitae. Consequatur culpa cum
                    deserunt, ea eos ex illo impedit molestias non officiis, praesentium quaerat suscipit voluptatum.<br/>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae enim eveniet, explicabo facilis
                    fugit ipsum mollitia nisi numquam officia qui quisquam ratione recusandae saepe velit veritatis?
                    Accusantium architecto doloremque veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ad aperiam ea excepturi, odio perferendis quaerat quam ratione tenetur voluptates! Deleniti id
                    minima minus, nulla pariatur perferendis qui quibusdam suscipit vel? Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Accusantium ad aperiam consectetur, cumque cupiditate dolores eveniet
                    illum nostrum, placeat quis, saepe tempora? Ducimus magnam neque quidem sequi sit sunt suscipit!<br/>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias amet assumenda cumque dignissimos
                    doloribus dolorum earum est ex exercitationem harum incidunt minima non quis, repudiandae sapiente
                    sit suscipit voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum
                    fugiat illo iusto magnam maxime minima minus non obcaecati reiciendis, saepe sequi similique, sint
                    tenetur totam, unde velit vero voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aperiam at consequuntur, doloremque eaque eum laborum magni neque repellendus sit. Culpa debitis
                    enim et ipsa laborum placeat temporibus voluptatem? Adipisci, blanditiis. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Aliquam asperiores assumenda consequatur corporis culpa cum
                    dolore incidunt labore, laborum molestiae nemo nesciunt, nostrum officia officiis quos sit velit
                    veniam veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, cumque
                    deserunt dolor eius eligendi excepturi illum maiores molestiae, nemo odit, provident rerum sunt
                    totam. Ab architecto culpa illum ipsum saepe! Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ab, aliquam architecto cumque cupiditate distinctio ea excepturi, labore officia possimus
                    praesentium qui quisquam suscipit tempore totam unde, vel vero voluptas voluptate! Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Asperiores aut autem, consectetur distinctio ex expedita
                    ipsa iste molestiae nemo quas ratione reiciendis sunt vel. Commodi earum facilis molestias odio ut!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta dignissimos distinctio
                    eius esse et expedita harum, illum natus nemo rem reprehenderit similique sit tenetur vitae!<br/>
                    Eveniet, magnam molestiae. Adipisci! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
                    assumenda iusto libero totam vitae. Consequatur culpa cum deserunt, ea eos ex illo impedit molestias
                    non officiis, praesentium quaerat suscipit voluptatum. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Beatae enim eveniet, explicabo facilis fugit ipsum mollitia nisi numquam officia
                    qui quisquam ratione recusandae saepe velit veritatis? Accusantium architecto doloremque veritatis?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam ea excepturi, odio perferendis
                    quaerat quam ratione tenetur voluptates! Deleniti id minima minus, nulla pariatur perferendis qui
                    quibusdam suscipit vel? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad
                    aperiam consectetur, cumque cupiditate dolores eveniet illum nostrum, placeat quis, saepe tempora?<br/>
                    Ducimus magnam neque quidem sequi sit sunt suscipit! Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Ab alias amet assumenda cumque dignissimos doloribus dolorum earum est ex
                    exercitationem harum incidunt minima non quis, repudiandae sapiente sit suscipit voluptates! Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum fugiat illo iusto magnam maxime
                    minima minus non obcaecati reiciendis, saepe sequi similique, sint tenetur totam, unde velit vero
                    voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at consequuntur,
                    doloremque eaque eum laborum magni neque repellendus sit. Culpa debitis enim et ipsa laborum placeat
                    temporibus voluptatem? Adipisci, blanditiis. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Aliquam asperiores assumenda consequatur corporis culpa cum dolore incidunt labore, laborum
                    molestiae nemo nesciunt, nostrum officia officiis quos sit velit veniam veritatis? Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Consequatur, cumque deserunt dolor eius eligendi excepturi
                    illum maiores molestiae, nemo odit, provident rerum sunt totam. Ab architecto culpa illum ipsum
                    saepe! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquam architecto cumque
                    cupiditate distinctio ea excepturi, labore officia possimus praesentium qui quisquam suscipit
                    tempore totam unde, vel vero voluptas voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Asperiores aut autem, consectetur distinctio ex expedita ipsa iste molestiae nemo quas ratione
                    reiciendis sunt vel. Commodi earum facilis molestias odio ut! Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Cupiditate dicta dignissimos distinctio eius esse et expedita harum,
                    illum natus nemo rem reprehenderit similique sit tenetur vitae! Eveniet, magnam molestiae. Adipisci!<br/>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda iusto libero totam vitae.
                    Consequatur culpa cum deserunt, ea eos ex illo impedit molestias non officiis, praesentium quaerat
                    suscipit voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae enim eveniet,
                    explicabo facilis fugit ipsum mollitia nisi numquam officia qui quisquam ratione recusandae saepe
                    velit veritatis? Accusantium architecto doloremque veritatis? Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Ad aperiam ea excepturi, odio perferendis quaerat quam ratione tenetur
                    voluptates! Deleniti id minima minus, nulla pariatur perferendis qui quibusdam suscipit vel? Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aperiam consectetur, cumque
                    cupiditate dolores eveniet illum nostrum, placeat quis, saepe tempora? Ducimus magnam neque quidem
                    sequi sit sunt suscipit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias amet
                    assumenda cumque dignissimos doloribus dolorum earum est ex exercitationem harum incidunt minima non
                    quis, repudiandae sapiente sit suscipit voluptates! Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Aliquam earum fugiat illo iusto magnam maxime minima minus non obcaecati
                    reiciendis, saepe sequi similique, sint tenetur totam, unde velit vero voluptas! Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Aperiam at consequuntur, doloremque eaque eum laborum magni
                    neque repellendus sit. Culpa debitis enim et ipsa laborum placeat temporibus voluptatem? Adipisci,
                    blanditiis.</p>
            </div>
            <div class="bannerManifest2"></div>
        </div>
    </div>
{% endblock %}